<div class="w-100">
	<nz-form-item class="w-100">
		<nz-select
			[nzPlaceHolder]="placeholder"
			[nzMaxTagCount]="1"
			[(ngModel)]="selectedValue"
			[nzDisabled]="maxReached()"
			(ngModelChange)="onChange()"
			(nzOpenChange)="onOpened($event)"
			[compareWith]="compareEntities"
			[nzShowSearch]="filterEnabled"
			[nzAllowClear]="true"
			(nzOnSearch)="onFilterChanged($event)"
			(nzScrollToBottom)="loadMore()"
			[nzServerSearch]="true"
			[nzLoading]="loading"
			class="w-100"
		>
			<nz-option *ngIf="loading" nzDisabled nzCustomContent>
				<i nz-icon type="loading" class="loading-icon"></i>
			</nz-option>
			<nz-option
				*ngIf="!loading && !items.length"
				nzDisabled
				nzCustomContent
			>
				<nz-empty [nzNotFoundContent]="emptyLabel"></nz-empty>
			</nz-option>
			<nz-option
				*ngFor="let item of items"
				[nzValue]="item"
				[nzLabel]="item.getLabel()"
			></nz-option>
		</nz-select>
	</nz-form-item>

	<div *ngIf="hasModels()" class="mb-3">
		<div
			cdkDropList
			class="drag-list w-100"
			(cdkDropListDropped)="onDrop($event)"
		>
			<div
				class="drag-box p-2"
				*ngFor="let item of model; let i = index"
				cdkDrag
			>
				<span class="name">{{ item.getLabel() }}</span>
				<span class="remove text-right" (click)="onDelete(i)">
					<i nz-icon nzType="close" nzTheme="outline"></i>
				</span>
			</div>
		</div>
	</div>
</div>
