/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'scss/_screens.scss';
@import 'scss/_theme.scss';

@include mat-core();
$theme: hpf-get-theme();
@include angular-material-theme($theme);

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

///////////////
//  OVERRIDES MATERIAL & BOOTSTRAP
///////////////

* {
	mat-icon {
		font-family: 'Material Icons' !important;
	}

	a:hover,
	a:active,
	a:focus {
		text-decoration: none;
	}
}

*:active,
*:focus {
	outline: none !important;
}

label {
	margin: 0;
}

html,
body {
	height: 100%;
}

pre {
	background-color: mat-color($background, hover);
	border-radius: 4px;
	padding: 16px;
	code {
		white-space: pre;
	}
}

.tinymce-title,
.input-title {
	color: mat-color($foreground, secondary-text);
	&.error {
		color: mat-color($warn, default);
	}
}

///////////////
//  /OVERRIDES MATERIAL & BOOTSTRAP
///////////////

.app-loading {
	.logo {
		width: 100px;
		height: 100px;
		background: url(./assets/logos/logo-small-purple.svg) center center
			no-repeat;
	}
}

///////////////
//  /HOVER EFFECTS
///////////////
mat-sidenav-container {
	mat-sidenav {
		a {
			&.active {
				color: mat-color($accent, default-contrast);
				background-color: mat-color($accent);
			}
		}
	}
}

.hover-bg-accent:hover,
.bg-accent {
	background-color: mat-color($background, hover);
}
