@import '~@angular/material/theming';

$md-primary: (
	50: #e8e6f5,
	100: #c6c2e7,
	200: #a099d7,
	300: #7970c7,
	400: #5d51bb,
	500: #4032af,
	600: #3a2da8,
	700: #32269f,
	800: #2a1f96,
	900: #1c1386,
	A100: #bebaff,
	A200: #8f87ff,
	A400: #5f54ff,
	A700: #473bff,
	contrast: (
		50: #000000,
		100: #ffffff,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #ffffff,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff
	)
);

$md-warn: (
	50: #e8feff,
	100: #c6feff,
	200: #a1fdff,
	300: #7bfcfe,
	400: #5efbfe,
	500: #42fafe,
	600: #3cf9fe,
	700: #33f9fe,
	800: #2bf8fe,
	900: #1df6fd,
	A100: #ffffff,
	A200: #ffffff,
	A400: #ccfdff,
	A700: #b2fcff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

$md-accent: (
	50: #ebe8f6,
	100: #cec5e9,
	200: #ae9fdb,
	300: #8d78cc,
	400: #745bc1,
	500: #5c3eb6,
	600: #5438af,
	700: #4a30a6,
	800: #41289e,
	900: #301b8e,
	A100: #d0c7ff,
	A200: #a594ff,
	A400: #7a61ff,
	A700: #6447ff,
	contrast: (
		50: #000000,
		100: #ffffff,
		200: #ffffff,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #ffffff,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff
	)
);

@function hpf-get-theme() {
	$hpf-app-primary: mat-palette($md-primary);
	$hpf-app-accent: mat-palette($md-warn);
	$hpf-app-warn: mat-palette($md-primary);
	@return mat-light-theme($hpf-app-primary, $hpf-app-accent, $hpf-app-warn);
}
